.blogs{
    width: 80%;
    /* height: 100vh; */
    margin:auto;
    margin-top: 100px;
    border: solid;
    padding: 10px;
}
.blogs table,th,td{
    border: solid;
    border-collapse: collapse;
}
.blogs table{
    margin: auto;
    margin-bottom: 15px;
}
.blogs td,th{
    padding: 10px;
}
.blogs tr:nth-child(even) {
    background-color: #dddddd;
  }