.home-products{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
    width: 80%;
    margin: auto;
    background-color: #f2f2f4;
    box-shadow: 0px 0px 7px gray;
    position: relative;
}
.home-product{
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
}
.home-product .img img{
    width: 100%;
}

.home-product .information button{
  padding: 10px;
  border: none;
  background-color: #2C6AE5;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}
.home-products .add-item{
    position: absolute;
    left: -10%;

}
.home-products .add-item button{
    padding: 10px;
    border: none;
    background-color: #2C6AE5;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}