.item-details{
    width: 50%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #e0d7d7;
    padding: 10px;
    position: relative;
}
.item-details .img img{
    width: 100%;
}
.item-details .information{
    width: 90%;
    margin: auto;
    word-wrap: break-word;
    font-weight:600
}

