.inventory-products{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    width: 80%;
    margin: auto;
    background-color: #f2f2f4;
    box-shadow: 0px 0px 7px gray;
    position: relative;
}
.inventory-product{
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
}
.inventory-product .img img{
    width: 100%;
}

@media screen and (max-width:688px) {
    .inventory-products{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        padding: 10px;
        width: 100%;
        margin: auto;
        background-color: #f2f2f4;
        box-shadow: 0px 0px 7px gray;
        position: relative;
    }
}
